.header {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: white;
    width: 100%;
}


.header nav #timer {
    display: inline-block;
    color: aliceblue;
    font-size: 40px;
    width: 45%;
    text-align: right;
    color: black;


}


.header nav #show-h-scores {
    display: inline-block;
    color: rgb(178, 68, 2273);
    font-size: 40px;
    justify-content: space-between;
    width: 50%;
    padding-left: 2rem;
    font-family: Arial, Helvetica, sans-serif

}
.container{
    background-color: white;
    width: 100%;
    height: 50rem;
}


.question-container{
background-color: white;
width: 50%;
height: 60%;
position: absolute;
  top: 20%;
  left: 26%;
  margin: -25px 0 0 -25px;

}

.init-text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 110%;
    position: absolute;
        top: 13%;
}


.questions{
    background-color:white;
    height: 30%;
    font-size: 55px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.answerButtons{
    background-color: white;
    height:50%;
}


.answerButtons button{
    background-color: rgb(53, 28, 117);
    display: block;
    margin: 1rem;
    font-size: 25px;
    border-radius: 8px;  
    width: 30%;
    height: 22%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 1rem;
}

.start{
    background-color: rgb(53, 28, 117);
    margin: 1rem;
    font-size: 25px;
    border-radius: 8px;
    flex: wrap;    
    width: 20%;
    height: 12%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 40%;
}


.goback{
    background-color: rgb(53, 28, 117);
    margin: 1rem;
    font-size: 25px;
    border-radius: 8px;
    flex: wrap;    
    width: 20%;
    height: 12%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: -2%;
}

.clearhs{
    background-color: rgb(53, 28, 117);
    margin: 1rem;
    font-size: 25px;
    border-radius: 8px;
    flex: wrap;    
    width: 30%;
    height: 12%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 20%;
}

.goback:hover{
    background-color: rgb(189, 96, 231);
}

.clearhs:hover{
    background-color: rgb(189, 96, 231);
}


.answerButtons button:hover{
    background-color: rgb(189, 96, 231);
}

#answer{

    border-top: solid;
    font-size: 44px;
    font-style: italic;
    color: grey;
    height: 10%;
    margin-top: 2rem;
    padding-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;

}